<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./">Responsive</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Public <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="online_giving.aspx">Online Giving</a></li>
                        <li><a href="mission_trip_giving.aspx">Mission Trip Giving</a></li>
                        <li><a href="mission_trip_registration.aspx">Mission Trip Registration</a></li>
                        <li><a href="make_a_pledge.aspx">Make A Pledge</a></li>
                        <li><a href="event_calendar.aspx">Event Calendar</a></li>
                        <li><a href="group_finder.aspx">Group Finder</a></li>
                        <li><a href="opportunity_finder.aspx">Opportunity Finder</a></li>
                        <li><a href="group_survey.aspx">Find A Group By Survey</a></li>
                        <li><a href="opportunity_survey.aspx">Find An Opportunity By Survey</a></li>
                        <li><a href="get_form.aspx?id=01fb904a-0aa6-4eaa-bde4-f88e3f8d888e">Submit a Prayer</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Private <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="my_user_account.aspx">My User Account</a></li>
                        <li><a href="my_groups.aspx">My Groups</a></li>
                        <li><a href="groupleaderresources">Group Leader Resources</a></li>
                        <li><a href="my_events.aspx">My Events</a></li>
                        <li><a href="my_mission_trips.aspx">My Mission Trips</a></li>
                        <li><a href="missiontripdetails">Mission Trip Forms &amp; Info</a></li>
                        <li><a href="my_purchase_history.aspx">My Purchase History</a></li>
                        <li><a href="my_giving.aspx">My Giving</a></li>
                        <li><a href="my_contribution_statement.aspx">My Contribution Statement</a></li>
                        <li><a href="my_directory.aspx">Online Directory</a></li>
                        <li><a href="my_pledges.aspx">My Pledges</a></li>
                        <li><a href="my_calls.aspx">My Calls</a></li>
                        <li><a href="my_subscriptions.aspx">My Subscriptions</a></li>
                        <li><a href="my_profile.aspx">My Survey</a></li>
                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li><a id="userLink" href="https://support.ministryplatform.com/portal/login.aspx?ReturnUrl=/portal/default.aspx">Login</a></li>
                <li><a href="#">anonymous</a></li>
                <li><a id="cartLink" href="transaction_summary.aspx">Show Summary (0)</a></li>

                <!--
                    <li><a href="./">Default <span class="sr-only">(current)</span></a></li>
                    <li><a href="../navbar-static-top/">Static top</a></li>
                    <li><a href="../navbar-fixed-top/">Fixed top</a></li>
                -->
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>